.content-block.back-button {
  padding-top:10px;
  padding-bottom:0;
}

.back-button .back {
  font-size:14px;
  float:left;
}

.sticker-preview {
  text-align:center;
}

.sticker-preview h2 {
  border:none;
}

.sticker-preview img {
  max-width:90%;
  margin-top:6px;
}

.sticker-preview .button {
  font-size:14px;
}
